body{
    background: #EAF2F8;
    margin-left: 40px; margin-right: 300px;
}

header{
    margin-top: 50px;
}

h1{
    margin-left: 20px;
    color: darkslateblue;
    font-family: fantasy;
}

h2{
    margin-left: 20px;
    color: #1F618D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.img_geral {
    margin-bottom: 20px;
    width: 150px;
}

footer {
    margin-top: 30px;
}